<h2>About me</h2>
<p>I'm electronics engineering graduated from the Colima University in 2004,
  (a la par de mis carrera estudié programación por mi cuenta, me gusta programar
  conozco lenguajes como C++, Visual Basic 6.0 y actualmente Ruby.
  Soy aficionado a la tecnología, a los gadgets y al futbol (de preferencia el futbol español) XD.
  Me gusta ser ordenado y puntual con  todas mis cosas)Lugar para poner un chingo-mil de cosas acerca de mi. Pero al final escribirás 3 renglones XD</p>