<h2>About me</h2>
  <p>Hello, I'm from México, I born in Gudalajara, Jalisco, but right now my resident is in
  Colima city, It's about three hours from Guadalajara. I'm graduated from the University
  of Colima, I studied B.D. in Electronics & Comunications, also I participated in the
  Socrates Program for International exchange in Spain for six months. I like programming
  and to know about the news in tecnology.</p>
  <img class="img" src="/assets/me_one.png" alt="...">
  <p>
  Lugar para poner un chingo-mil de cosas acerca de mi. Pero al final escribirás 3 renglones XD</p>
  <img class="img" src="/assets/me_two.png" alt="...">
