<h2>About me</h2>
  <p class="about-me">My name is Saúl Gómez. I'm a Electronics Engineer and Web Developer.

I graduated from The University of Colima in 2004.


</br>
  I'm from México, I born in Gudalajara, Jalisco, but right now my resident is in
  Colima city, It's about three hours from Guadalajara. Also I have participated in the
  Socrates Program for International exchange in Spain for six months. When I'm not coding,
  you'll find me playing tennis table or just taking a ride..</p>
  <img class="img" src="/assets/me_one.png" alt="...">
  <p>
  I’m always open to exciting job opportunities, I am currently available for freelance work.</p>
  <img class="img" src="/assets/me_two.png" alt="...">
