<h2>Projects</h2>
<div>
  <ul class="thumbnails">
    <li class="span3">
      <a href="http://baco.herokuapp.com" class="thumbnail">
        <img src="/assets/baco.png" alt="...">
      </a>
      <p>User=> baco@colima.com </br>
      Pass=> 2013colima </p>
    </li>
    <li class="span3">
      <a href="#" class="thumbnail">
        <img src="/assets/banner.png" alt="...">
      </a>
    </li>
  </ul>
</div>
