<h2>Projects</h2>
<div>
  <ul class="thumbnails">
    <li class="span4">
      <a href="#" class="thumbnail">
        <img src="/assets/banner.png" alt="">
      </a>
    </li>
    <li class="span4">
      <a href="#" class="thumbnail">
        <img src="/assets/banner.png" alt="">
      </a>
    </li>
  </ul>
</div>