<h2>Software Development</h2>
  <p><b>Ruby on Rails</b> – as a trainee, involve in two proyects in Colima city.
  One of the projects include the use of <b>bootstrap 2</b>, with <b>Postgresql</b> as the DB
  engine.</br>
  The second Project is an app to manage the sales and inventory of a drywall
  store. It’s also use bootstrap 2, Postgresql and I add unit test to models and controllers
  with <b>rSpec.</b></p></br>

  <p>Both projects are in <b>Heroku</b> server and you can check the repositories on <b>github.</b></br>
  https://github.com/sago</br>
  http://baco.herokuapp.com user : baco@colima.com pass: 2013colima</br>
  http://gusteau.herokuapp.com/log_in</p></br>

  <p>Company: Diseño y Edificaciones de Colima S.A. de C.V (Mar 2005 – Dic 2008)</br>
  Job: Technical support / Developer</br>
  Activities: Technical support to computers, telecoms and software development.</br>
  Visual Basic 6.0 – I programing modules to the system that the company use to manage
  the process of sales. From the obtainment of the land to the sale of the house. The
  language that the company use was Visual Basic 6.0 with the SQL Server 2003 as a DB
  engine. The system Works through a VPN.</p></br>

<h2>Electronic & Communications</h2>
  <p>Company: Tortuga Horizon S.A de C.V. (Dec 2008 – April 2013)</br>
  Job: Maintenance</br>
  Activities: Maintenance of computer equipment, communications, surveillance cameras,
  electronic controls and electric in Playa Grande condominium development.</p></br>
  <p>Company: Instituto Técnológico Superior de La Huerta (Sep 2011 – Jan 2012)
  Job: Mathematics Professor
  Activities: Teach maths applied to computer systems and management.</p>