<h2>Education</h2>
  <p>• Electronics Engineer College 2000 - 2004</br>
    School of Electromechanical Engineering (FIE)</br>
  | University of Colima | Title / Professional Record</p>
  <p>• High School 1996 - 1999</br>
  Cihuatlán High School / Record</p>
  <p>• Social Service and Professional Practices 2002 - 2004</br>
  Comisión Federal de Electricidad (CFE)</br>
  Manzanillo II thermoelectric plant</br>
  Instrumentation and Control's Department</br>
  Responsible: Ing. Javier Medina</p>
<h2>Courses and Diplomas</h2>
  <p>
  • Local Area Networks</br>
  • Biomedical Instrumentation</br>
  • Optoelectronics</br>
  | Polytechnic University of Valencia - Gandia Campus / Record</br>
  • Visual Basic 6.0 / Record</br>
  • Java / Record</br>
  • Basic Linux / Record</br>
  • Fault detection equipment Video / Record</br>
  • PHP / MySql / Record</br>
  | University of Colima </p>